#blog-content-wrapper {
    margin: auto;
    width: 70%;
    max-width: 1000px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 50px;
}
.post h2 {
    margin-bottom: 10px;
}
.post img {
    margin-top: 28px;
    max-width: 300px;
    width: 100%;
    border: solid black 2px;
    border-radius: 10px;

}

/* For the More Content Pages */

.post h3 {
    margin-top: 15px;
    width: 160px;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: normal;
}

.post a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 95%;
    margin: 28px 0px;
}

#back-button {
    text-decoration: none;
    color: inherit;
}

#back-button div {
    margin: auto;
    width: 200px;
    padding-bottom: 70px;
}

#back-button img {
    width: 80px;
    cursor: pointer;
}

#back-button h2 {
    font-size: 20px;
    cursor: pointer;
}

/* For music page */

#announcement {
    width: 70%;
    margin: 50px auto;
}