h1 {
    width: 80%;
    margin: auto;
    padding-top: 28px;
    margin-bottom: 28px;
}

#headshot {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid gray;
    margin-bottom: 28px;
}

#intro-text {
    max-width: 550px;
    margin: auto;
    margin-bottom: 28px;
    line-height: 25px;
}

#intro-text-wrapper {
    width: 80%;
    margin: auto;
}

#view-resume-text {
    margin-bottom: 28px;
}

#resume-text-wrap a {
    text-decoration: underline;
    color: inherit;
}

.logo {
    width: 48px;
    height: 48px;
}

#logo-box {
    display: flex;
    margin: 28px auto;
    width: 200px;
    justify-content: space-evenly;
    justify-items: center;
    padding-bottom: 40px;
}

@media only screen and (max-width: 450px) {
    #headshot {
        width: 70%;
        height: auto;
    }
}