
/* Rules for each project row */

.project {
    display: flex;
    width: 80%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 28px;
}

.project img {
    width: 240px;
    height: 200px;
    margin-right: 28px;
    border-radius: 10px;
    border: 2px solid gray;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    text-align: left;
}

.info-text h2 {
    margin-bottom: 10px;
}

.info-text h3 {
    margin-top: 15px;
    width: 160px;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: normal;
}

.info-text h3:hover {
    background-color: #dfe4e7;
}

.info-text a {
    text-decoration: none;
    color: inherit;
}

#flex-wrapper {
    max-width: 1100px;
    margin: auto;
}

.flipped {
    flex-direction: row-reverse;
    justify-content: right;
}

.flipped img {
    margin-right: 0;
    margin-left: 28px;
}

.flipped .info-text {
    text-align: right;
    align-items: flex-end;
}

/* The two boxes at the bottom that link to more content */

#more-boxes {
    margin: auto;
    width: 90%;
    max-width: 500px;
    margin-top: 28px;
    padding-bottom: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#more-boxes a {
    text-decoration: none;
    color: inherit;
}

.more-box {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #dfe4e7;

    margin: 0px 20px 28px 20px;
    width: 160px;
}

.more-box img {
    padding-top: 5px;
}

.more-box h3 {
    padding: 5px 10px 10px 10px;
}

/* Rules for smaller screens */

@media only screen and (max-width: 1000px) {
    .project, .info-text, .flipped .info-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project img {
        margin: 0px 0px 20px 0px;
    }
}